.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .landing-page h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #333; 
  }
  
  .landing-page button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    border-radius: 8px; /* More rounded corners */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform transition */
  }
  
  .landing-page button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
  }
  
  .landing-page button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Custom focus outline */
  }
  
  /* Specific styles for student button */
  .landing-page .student-button {
    padding: 8px 16px; /* Smaller padding */
    font-size: 16px; /* Smaller font size */
  }
  