.programs-container {
    padding: 10px;
  }
  
  .filters {
    margin-bottom: 10px;
  }
  
  .program-list {
    list-style-type: none;
    padding: 0;
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow wrapping to the next line */
    gap: 20px; /* Add space between items */
  }
  
  .program-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    overflow: hidden;
    width: calc(33.333% - 20px); /* Three items per row with gap adjustment */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
  }
  
  .program-item img {
    width: 100%; /* Make the image take the full width of its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
    display: block;
  }
  
  .program-details {
    padding: 10px;
  }
  
  .program-details button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .program-details button:hover {
    background-color: #0056b3;
  }
  